<!DOCTYPE html>
<html>
<head>
    <title>Add Food</title>
    <link rel="stylesheet" type="text/css" href="../static/css/addfood.css">
</head>
<body>
    <div class = "container">
        <h1>Add New Food Item</h1>
            <input type="text" class="input-field" id="foodName" placeholder="Food Name - REQUIRED">
            <input type="text" class="input-field" id="portionSize" placeholder="Portion Size (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Calories (kcal) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Total Fat (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Saturated Fat (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Trans Fat (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Cholesterol (mg) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Sodium (mg) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Total Carbohydrates (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Sugars (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Protein (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Vitamin D (µg) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Calcium (mg) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Iron (mg) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Potassium (mg) - Optional">
            <button class="submit-button" id="addFoodButton">Add Food</button>
    </div>
</body>
</html>