<!DOCTYPE html>
<html>
<head>
    <title>Add Food</title>
    <link rel="stylesheet" type="text/css" href="../static/css/addfood.css">
</head>
<body>
    <div class = "container">
        <h1>Add New Food Item</h1>
        <div id="error" style="color: red;"></div>
        <form id="addFoodForm" method="post" action="/add_food">
            <input type="text" class="input-field" id="foodName" placeholder="Food Name - REQUIRED">
            <input type="text" class="input-field" id="portionSize" placeholder="Portion Size (g) - Optional">
            <input type="text" class="input-field" id="calories" placeholder="Calories (kcal) - Optional">
            <input type="text" class="input-field" id="total_fat" placeholder="Total Fat (g) - Optional">
            <input type="text" class="input-field" id="saturated_fat" placeholder="Saturated Fat (g) - Optional">
            <input type="text" class="input-field" id="trans_fat" placeholder="Trans Fat (g) - Optional">
            <input type="text" class="input-field" id="cholesterol" placeholder="Cholesterol (mg) - Optional">
            <input type="text" class="input-field" id="sodium" placeholder="Sodium (mg) - Optional">
            <input type="text" class="input-field" id="total_carbohydrates" placeholder="Total Carbohydrates (g) - Optional">
            <input type="text" class="input-field" id="sugars" placeholder="Sugars (g) - Optional">
            <input type="text" class="input-field" id="protein" placeholder="Protein (g) - Optional">
            <input type="text" class="input-field" id="vitamin_d" placeholder="Vitamin D (µg) - Optional">
            <input type="text" class="input-field" id="calcium" placeholder="Calcium (mg) - Optional">
            <input type="text" class="input-field" id="iron" placeholder="Iron (mg) - Optional">
            <input type="text" class="input-field" id="potassium" placeholder="Potassium (mg) - Optional">
            <button type="submit" class="submit-button" id="addFoodButton">Add Food</button>
        </form>
        </div>
    <script src="../static/javascript/addfood.js"></script>
</body>
</html>